DS4_Fabrika_Client/DS4_Fabrika_Client/Connected Services/FabrikaService/FabrikaService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DS4_Fabrika" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DS4_Fabrika" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Stanje">
    <xs:sequence>
      <xs:element minOccurs="0" name="Gustina" type="xs:double" />
      <xs:element minOccurs="0" name="Zauzece" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Stanje" nillable="true" type="tns:Stanje" />
</xs:schema>