DS4_Fabrika_Client/DS4_Fabrika_Client/Connected Services/FabrikaService/FabrikaService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49335/FabrikaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DS4_Fabrika" />
  <xs:import schemaLocation="http://localhost:49335/FabrikaService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="DodajSastojak">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="naziv" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="zapremina" type="xs:double" />
        <xs:element minOccurs="0" name="gustina" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DodajSastojakResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DodajSastojakResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Flasiraj">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="zapremina" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FlasirajResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FlasirajResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsprazniSistem">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsprazniSistemResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PrikaziStanje">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PrikaziStanjeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DS4_Fabrika" minOccurs="0" name="PrikaziStanjeResult" nillable="true" type="q1:Stanje" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiPromene">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiPromeneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="VratiPromeneResult" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>