DS4_Fabrika_Client/DS4_Fabrika_Client/Connected Services/FabrikaService/FabrikaService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FabrikaService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49335/FabrikaService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49335/FabrikaService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49335/FabrikaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DS4_Fabrika" />
      <xsd:import schemaLocation="http://localhost:49335/FabrikaService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFabrikaService_DodajSastojak_InputMessage">
    <wsdl:part name="parameters" element="tns:DodajSastojak" />
  </wsdl:message>
  <wsdl:message name="IFabrikaService_DodajSastojak_OutputMessage">
    <wsdl:part name="parameters" element="tns:DodajSastojakResponse" />
  </wsdl:message>
  <wsdl:message name="IFabrikaService_Flasiraj_InputMessage">
    <wsdl:part name="parameters" element="tns:Flasiraj" />
  </wsdl:message>
  <wsdl:message name="IFabrikaService_Flasiraj_OutputMessage">
    <wsdl:part name="parameters" element="tns:FlasirajResponse" />
  </wsdl:message>
  <wsdl:message name="IFabrikaService_IsprazniSistem_InputMessage">
    <wsdl:part name="parameters" element="tns:IsprazniSistem" />
  </wsdl:message>
  <wsdl:message name="IFabrikaService_IsprazniSistem_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsprazniSistemResponse" />
  </wsdl:message>
  <wsdl:message name="IFabrikaService_PrikaziStanje_InputMessage">
    <wsdl:part name="parameters" element="tns:PrikaziStanje" />
  </wsdl:message>
  <wsdl:message name="IFabrikaService_PrikaziStanje_OutputMessage">
    <wsdl:part name="parameters" element="tns:PrikaziStanjeResponse" />
  </wsdl:message>
  <wsdl:message name="IFabrikaService_VratiPromene_InputMessage">
    <wsdl:part name="parameters" element="tns:VratiPromene" />
  </wsdl:message>
  <wsdl:message name="IFabrikaService_VratiPromene_OutputMessage">
    <wsdl:part name="parameters" element="tns:VratiPromeneResponse" />
  </wsdl:message>
  <wsdl:portType name="IFabrikaService">
    <wsdl:operation name="DodajSastojak">
      <wsdl:input wsaw:Action="http://tempuri.org/IFabrikaService/DodajSastojak" message="tns:IFabrikaService_DodajSastojak_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFabrikaService/DodajSastojakResponse" message="tns:IFabrikaService_DodajSastojak_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Flasiraj">
      <wsdl:input wsaw:Action="http://tempuri.org/IFabrikaService/Flasiraj" message="tns:IFabrikaService_Flasiraj_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFabrikaService/FlasirajResponse" message="tns:IFabrikaService_Flasiraj_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsprazniSistem">
      <wsdl:input wsaw:Action="http://tempuri.org/IFabrikaService/IsprazniSistem" message="tns:IFabrikaService_IsprazniSistem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFabrikaService/IsprazniSistemResponse" message="tns:IFabrikaService_IsprazniSistem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PrikaziStanje">
      <wsdl:input wsaw:Action="http://tempuri.org/IFabrikaService/PrikaziStanje" message="tns:IFabrikaService_PrikaziStanje_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFabrikaService/PrikaziStanjeResponse" message="tns:IFabrikaService_PrikaziStanje_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VratiPromene">
      <wsdl:input wsaw:Action="http://tempuri.org/IFabrikaService/VratiPromene" message="tns:IFabrikaService_VratiPromene_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFabrikaService/VratiPromeneResponse" message="tns:IFabrikaService_VratiPromene_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFabrikaService" type="tns:IFabrikaService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DodajSastojak">
      <soap:operation soapAction="http://tempuri.org/IFabrikaService/DodajSastojak" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Flasiraj">
      <soap:operation soapAction="http://tempuri.org/IFabrikaService/Flasiraj" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsprazniSistem">
      <soap:operation soapAction="http://tempuri.org/IFabrikaService/IsprazniSistem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrikaziStanje">
      <soap:operation soapAction="http://tempuri.org/IFabrikaService/PrikaziStanje" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VratiPromene">
      <soap:operation soapAction="http://tempuri.org/IFabrikaService/VratiPromene" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FabrikaService">
    <wsdl:port name="BasicHttpBinding_IFabrikaService" binding="tns:BasicHttpBinding_IFabrikaService">
      <soap:address location="http://localhost:49335/FabrikaService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>