AudicijaKlijent/AudicijaKlijent/Connected Services/AudicijaServis/AudicijaServis.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DS4_Aukcija" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DS4_Aukcija" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Klijent">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Ime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Prezime" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Klijent" nillable="true" type="tns:Klijent" />
  <xs:complexType name="Eksponat">
    <xs:sequence>
      <xs:element minOccurs="0" name="KupacId" type="xs:int" />
      <xs:element minOccurs="0" name="Naziv" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TrenutnaCena" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Eksponat" nillable="true" type="tns:Eksponat" />
  <xs:complexType name="ArrayOfKlijent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Klijent" nillable="true" type="tns:Klijent" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKlijent" nillable="true" type="tns:ArrayOfKlijent" />
</xs:schema>