AudicijaKlijent/AudicijaKlijent/Connected Services/AudicijaServis/AudicijaServis2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51548/AudicijaServis.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DS4_Aukcija" />
  <xs:element name="PrijaviKlijenta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DS4_Aukcija" minOccurs="0" name="k" nillable="true" type="q1:Klijent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrijaviKlijentaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiEksponat">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiEksponatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DS4_Aukcija" minOccurs="0" name="VratiEksponatResult" nillable="true" type="q2:Eksponat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Odustani">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="k" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OdustaniResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OdustaniResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PovecajCenu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="k" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PovecajCenuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PovecajCenuResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiKlijente">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiKlijenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DS4_Aukcija" minOccurs="0" name="VratiKlijenteResult" nillable="true" type="q3:ArrayOfKlijent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>