DS4_Registracija_Client/DS4_Registracija_Client/Connected Services/RegistracijaServis/RegistracijaServis1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DS4_Registracija" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DS4_Registracija" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49206/RegistracijaServis.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Drawing" />
  <xs:complexType name="Vlasnik">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JMBG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Prezime" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Vlasnik" nillable="true" type="tns:Vlasnik" />
  <xs:complexType name="Vozilo">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Drawing" minOccurs="0" name="Boja" type="q1:Color" />
      <xs:element minOccurs="0" name="Marka" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Vozilo" nillable="true" type="tns:Vozilo" />
  <xs:complexType name="ArrayOfVozilo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Vozilo" nillable="true" type="tns:Vozilo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVozilo" nillable="true" type="tns:ArrayOfVozilo" />
  <xs:complexType name="ArrayOfVlasnik">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Vlasnik" nillable="true" type="tns:Vlasnik" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVlasnik" nillable="true" type="tns:ArrayOfVlasnik" />
</xs:schema>