DS4_Registracija_Client/DS4_Registracija_Client/Connected Services/RegistracijaServis/RegistracijaServis3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://DS4_Registracija" elementFormDefault="qualified" targetNamespace="http://DS4_Registracija" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49206/RegistracijaServis.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DS4_Registracija" />
  <xs:import schemaLocation="http://localhost:49206/RegistracijaServis.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="RegistrujVozilo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DS4_Registracija" minOccurs="0" name="v" nillable="true" type="q1:Vlasnik" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DS4_Registracija" minOccurs="0" name="z" nillable="true" type="q2:Vozilo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrujVoziloResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiVozila">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DS4_Registracija" minOccurs="0" name="v" nillable="true" type="q3:Vlasnik" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiVozilaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DS4_Registracija" minOccurs="0" name="VratiVozilaResult" nillable="true" type="q4:ArrayOfVozilo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiVlasnike">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="marka" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiVlasnikeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DS4_Registracija" minOccurs="0" name="VratiVlasnikeResult" nillable="true" type="q5:ArrayOfVlasnik" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiSve">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiSveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="VratiSveResult" nillable="true" type="q6:ArrayOfKeyValueOfVlasnikArrayOfVozilo_S21quIVZ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obavesti">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>